/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*=============  Offset classes =============*/


.section-70-70{
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-135-5{
    padding-top: 40px;
    padding-bottom: 5px;
}

.offset-bottom-50{
    padding-bottom: 50px;
}

.offset-bottom-64{
    padding-bottom: 0;
}

.offset-bottom-100{
    padding-bottom: 20px;
}
.offset-bottom-80{
    padding-bottom: 20px;
}

/*=============  Header & grey section styles =============*/

.page{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: #777;
}

header{
    position: absolute;
    padding: 25px 15px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.container{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header .header-inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.border-bottom{
    border-bottom: 1px solid rgba(19, 19, 19, 0.08);
}

.align-items-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-list{
    display: flex;
    text-transform: uppercase;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    flex-direction: column;
}

.team-member img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

q{
    font-size: 24px;
    line-height: 38px;
    display: block;

}

cite{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 500;

}

.nav-list li{
    margin: 10px 15px 0;
    font-size: 11px;
    letter-spacing: 0.3em;
    line-height: 1.2;
    font-weight: 400;
    opacity: 0.75;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
}

.nav-list li a:hover{
    color: #111;
}

.grey-box{
    padding: 50px 0;
    height: 100vh;
    position: relative;
    text-align: center;
    background-image: url(../images/section-1-bg.jpg);
    background-size: cover;
    background-position: center;
}

.grey-box h1{
    color: #fefefe;
    opacity: 0.9;
}

h1, h2, h4, h5{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #111;
    line-height: 1.2;
    justify-content: center;
}

h2{
    font-size: 18px;
    letter-spacing: 0.5em;
}

h1{
    font-size: 30px;
    letter-spacing: 0.2em;
}

h3, h5{
    text-align: center;
    letter-spacing: 0.4em;
    padding-top: 10px;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.68;
    text-transform: uppercase;
}

.grey-box h1 + h3{
    margin-top: 80px;
    text-transform: none;
    color: #fefefe;
    letter-spacing: normal;
}

/*================= section 2 - about ================*/

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

[class*="col-"]{
    width: 100%;
    padding: 30px 15px 0;
}

ul h3{
    color: #777;

}

h5{
    font-size: 12px;
}

/*================= section 3 - services ================*/
.icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons li{
    padding: 30px 15px 0;
    text-align: center;
    min-width: 200px;

}

.icons .icon {
    font-size: 48px;
    text-align: center;
}

p + h3{
    padding-top: 15px;
}

/*================= section 4 - Black box ================*/

.bg-black{
    background-color: #111;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-black p{
    opacity: 0.7;
    color: #fff;
}

.bg-black  h2{
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 15px;
}

.bg-black a{
    display: inline-block;
    color: #111;
    background-color: #cfcfcf;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 26px;
    text-decoration: none;
    padding: 5px 30px;
    margin-top: 30px;
    font-weight: 400;
    border-radius: 2px;
}

.bg-black a:hover{
    background-color: #fefefe;
}

.mac-container {
    position: relative;
    margin-top: 0;
    overflow: hidden;
}

.mac-container .site-small{
    position: absolute;
    overflow: hidden;
    top: 5%;
    left: 4%;
    right: 4%;
    height: 69%;
}

.mac-container img{
    max-width: 100%;
    width: 100%;
}
.mac-container .site-small img {
    transition: 1.5s all ease-out;
}
.mac-container:hover .site-small img {
    transform: translateY(-88%);
    transition: 5s linear;
}
.bg-black .row{
    flex-wrap: wrap;
}

.scroll-box{
    position: absolute;
    left: 50%;
    bottom: 35px;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
}

.scroll-box i{
    transform: translateX(40%)rotate(-45deg);
}

/*========== Isotope ===========*/

.grid, .button-group{
    display: flex;
    flex-wrap: wrap;
}

.grid-item{
    width: 100%;
    filter: grayscale(1);
    transition: 0.2s;
    padding: 2px;
    box-sizing: border-box;
}

.grid-item:hover{
    filter: grayscale(0);
}

.grid-item img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.button-group {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    margin: 0 45px;
    border: 0;
    max-width: 100%;
    background-color: #fff;
}
.button h3:hover{
    color: #111111;
}

.button,
.button:active,
.button:focus {
    outline: none;
}

.center{
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

/*========== Call to action section ===========*/

.bg-black .wrapper {
    text-align: center;
    letter-spacing: 0.3em;
}



/*========== Why chose us section ===========*/

.chose-us .icons li{
    padding: 20px 15px;
    text-align: center;
}

.chose-us p + h3{
    padding-bottom: 20px;
}

.chose-us h2 {
    margin-bottom: 60px;
}
.text-align-left{
    text-align: left;
}

/*========== Carousel ===========*/

.bg-dark {
    background-color: #111;
    color: #fff;
}
.bg-dark h2{
    color: #fff;
}

.section-140-25{
    padding-top: 70px;
    padding-bottom: 25px;
}

.text-center {
    text-align: center;
}

.owl-item-inner {
    margin: 0 auto;
    padding: 0 15px;
}

.icon-quote {
    font-size: 32px;
    margin-bottom: 20px;
}

.icon-quote + h2 {
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 45px;
}

.owl-carousel blockquote q {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.owl-carousel cite {
    opacity: 0.3;
    font-size: 11px;
    line-height: 38px;
    margin-top: 20px;
}

.owl-carousel q {
    opacity: 0.7;
}
.carousel {
    position: relative;
}

.owl-item-inner, .owl-carousel {
    position: static;
}

.owl-dots {
    margin-top: 105px;
}

.owl-dot span {
    display: block;
    margin: 0 3px;
    height: 7px;
    width: 7px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 1px;
}

.owl-dots .active span {
    margin-top: 1px;
    background-color: #111;
    border: 1px solid #fff;
    margin-bottom: 0;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background: #fff;
    font-size: 16px;
}

.owl-prev {
    left: 0px;
    transform: translate(-50%, 50%) rotate(45deg);

}

.owl-next {
    right: 0px;
    transform: translate(50%, 50%) rotate(45deg);
    position: absolute;
}

.owl-next:before{
    position: absolute;
    font-family: "FontAwesome", sans-serif;
    content: '\f105';
    left: 15px;
    bottom: 5px;
    transform: rotate(-45deg);
    color: #000;
}

.owl-prev:before{
    position: absolute;
    font-family: "FontAwesome", sans-serif;
    content: "\f104";
    right: 12px;
    bottom: 21px;
    transform: rotate(-45deg);
    color: #000;
}

.owl-item-inner {
    width: 80%;
}

/*========== Google map ===========*/

#map {
    height: 410px;
    width: 100%;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17,17,17, 0.95);
    transition: 0.4s;
}

.map-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.map-overlay h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    color: #fff;
}

.map-overlay h3:hover{
    border-bottom-color: white;
    cursor: pointer ;
}

.pointer-box{
    position: absolute;
    left: 50%;
    bottom: 60%;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
}

.pointer-box i{
    transform: translate(8px, -1px)rotate(-45deg);
    color: #000;
}

/*========== Blogs section ===========*/

.blog-wrapper img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.blog-wrapper h3, .blog-wrapper h5, .blog-wrapper p{
    text-align: justify;
    color: #777777;
}

.blog-wrapper h3, .blog-wrapper h5{
    letter-spacing: 0.2em;
    font-family: "Dosis", sans-serif;
}

.all-news-link {
    text-transform: uppercase;
    font-size: 11px;
    color: #999;
    letter-spacing: 0.5em;
    float: left;
    text-align: center;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
}

.blog-wrapper p{
    margin-top: 15px;
}

.blog-wrapper .button {
    text-transform: uppercase;
    font-size: 11px;
    height: 25px;
    width: 120px;
    letter-spacing: 0.2em;
    background-color: #e5e5e5;
    margin: 30px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    display: block;
    border-radius: 2px;
    cursor: pointer;
}

.blog-wrapper .button:hover {
    color: #111111;
    font-weight: bold;
}

.blog-wrapper {
    filter: grayscale(1);
}

.blog-wrapper:hover {
    filter: grayscale(0);
}

/*========== Subscribe section ===========*/

.grey {
    background-color: #f8f8f8;
}

#subscribe {
    padding: 0 10px;
}

.offset-70 {
    padding: 20px 0;
}

.grey h2{
    margin: 20px 10px 0;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    letter-spacing: 0.3em;
    font-weight: 300;
}

.grey label {
    display: block;
    font-size: 11px;
    text-align: center;
}

.email-subscribe {
    width: 300px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 0 10px;
    margin: 15px 0;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #777777;
    border-radius: 2px;
}

.submit-subscribe {
    width: 130px;
    height: 35px;
    background-color: rgba(17, 17, 17, 0.8);
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.2em;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;

}

/*========== contact section ===========*/

.contact-icon{
    position: absolute;
    left: 10px;
    bottom: 15px;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
}

.contact-icon i{
    transform: translate(8px, -1px)rotate(-45deg);
    color: #fff;
}

.contact-icon i.fa-envelope {
    transform: translate(5px, -1px)rotate(-45deg);
}

.contact-us dl {
    margin-left: 40px;
    color: #777777;
}

.contact-us dt {
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    letter-spacing: 0.3em;
}
.ccontact-us dt {
    font-size: 15px;
}

.contact-name, .contact-email, .contact-phone {
    width: 96%;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 0 10px;
    margin: 5px 0;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #777777;
    border-radius: 2px;
}

.contact-area {
    width: 96%;
    height: 73px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 0 10px;
    margin: 5px 0 20px;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #777777;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    resize: none;
}

.submit-contact {
    width: 180px;
    float: right;
    margin-right: 10px;
}

#contact-form .col-6{
    padding-left: 5px;
    padding-right: 5px;
}

/*========== footer ===========*/

footer {
    background-color: #f8f8f8;
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #111;
    letter-spacing: 0.5em;
    font-weight: normal;
}

footer p{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #999;
    letter-spacing: 0em;

}

.socials {
    position: relative;
    margin: 20px 0 100px;
}
.social-icon{
    left: 50%;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: 2px solid #000;
    background-color: ##f8f8f8;
    transform: rotate(45deg);
    float: left;
    margin: 10px;
    cursor: pointer;
}

.social-icon i{
    transform: translate(6px, -1px)rotate(-45deg);
    color: #000;
}

/*========== totop button ===========*/

.totop-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #c6c6c6;
    z-index: 1000;
    transition: 0.3s;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
}

.totop-button:hover {
    cursor: pointer;
    border-bottom-color: #111;
}

.totop-button.show {
    opacity: 1;
    visibility: visible;
}

/*========== 544px styles ===========*/

@media (min-width: 544px) {
    header .header-inner{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list{
        flex-direction: row;
    }

    .nav-list li{
        margin-top: 0;
    }

    .grid-item{
        width: 50%;
    }

    .bg-black .wrapper {
        padding: 0;
    }

    .offset-bottom-64{
        padding-bottom: 64px;
    }

    .contact-name, .contact-email,
    .contact-phone, .contact-area {
        width: 70%;
    }
}

/*========== 768px styles ===========*/

@media (min-width: 768px){
    .col-4{
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    p + h3{
        padding-top: 20px;
    }

    .col-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    .mac-container{
        margin-top: -46px;
    }

    .section-135-5{
        padding-top: 135px;
        padding-bottom: 5px;
    }

    .section-70-70{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .section-140-25{
        padding-top: 140px;
    }

    .all-news-link {
        float: right;
    }

    .offset-70 {
        padding: 70px 0;
    }

    .offset-bottom-100{
        padding-bottom: 100px;
    }

    .offset-bottom-80{
        padding-bottom: 80px;
    }

    .submit-contact {
        margin-right: 0;
    }

    .contact-name, .contact-email,
    .contact-phone, .contact-area {
        width: 97%;
    }

    .center{
        max-width: 50%;
    }
    .chose-us .icons li{
        padding: 40px 15px;
        text-align: center;
    }
}

/*========== 992px styles ===========*/

@media (min-width: 992px){

    .col-4{
        width: 33.3333%;
    }

    .section-70-70{
        padding-top: 135px;
        padding-bottom: 125px;
    }

    h1{
        letter-spacing: 1.7em;
    }

    .mac-container{
        margin-top: -70px;
    }
    
    .section-140-200{
        padding-top: 140px;
        padding-bottom: 200px;
    }

    .bg-black{
        padding: 0;
    }

    .grid-item{
        width: 33.33%;
    }

    .bg-black .section-70-70{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .owl-item-inner {
        width: 45%;
    }

    .contact-us .container {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .owl-item-inner {
        width: 45%;
    }
}










